<header class="flex justify-between px-4 py-2 md:px-6 md:py-3">
  <div class="flex gap-1 md:gap-2">
    <img
      class="w-[37px] md:w-[53px]"
      src="assets/logo.png"
      alt="台灣歷年總統"
    />
    <img
      class="h-[28px] max-w-[177px] object-contain md:h-[41px] md:max-w-[251px]"
      src="assets/logo-text.png"
      alt="台灣歷年總統"
    />
  </div>
  <div class="flex gap-2">
    <div class="hidden items-center pr-4 md:flex">
      <label class="pr-3">選擇年份</label>
      <ng-container *ngTemplateOutlet="year"></ng-container>
    </div>

    <div class="flex items-center rounded-full bg-bg py-[9px]">
      <img class="pl-3" src="assets/icons/search.svg" alt="搜尋" />
      <app-drop-down
        class="w-full max-w-[194px] border-r-[1px] border-line px-3"
      >
        <app-drop-down-option value="all">全部</app-drop-down-option>
      </app-drop-down>
      <app-drop-down
        class="w-full max-w-[194px] border-r-[1px] border-line px-3"
      >
        <app-drop-down-option value="all">全部</app-drop-down-option>
      </app-drop-down>
      <app-drop-down class="w-full max-w-[194px] px-3">
        <app-drop-down-option value="all">全部</app-drop-down-option>
      </app-drop-down>
    </div>
  </div>
  <div class="flex items-center gap-4">
    <span>分享</span>
    <a class="cursor-pointer"
      ><img src="assets/icons/facebook.svg" alt="facebook"
    /></a>
    <a class="cursor-pointer"
      ><img src="assets/icons/instagram.svg" alt="instagram"
    /></a>
    <a class="cursor-pointer"
      ><img src="assets/icons/youtube.svg" alt="youtube"
    /></a>
  </div>
</header>

<ng-template #year>
  <app-drop-down class="w-[118px] rounded-full bg-bg px-4 py-[9px]">
    <app-drop-down-option value="1996">1996</app-drop-down-option>
    <app-drop-down-option value="2000">2000</app-drop-down-option>
    <app-drop-down-option value="2004">2004</app-drop-down-option>
    <app-drop-down-option value="2008">2008</app-drop-down-option>
    <app-drop-down-option value="2012">2012</app-drop-down-option>
    <app-drop-down-option value="2016">2016</app-drop-down-option>
    <app-drop-down-option value="2020">2020</app-drop-down-option>
  </app-drop-down>
</ng-template>
