<div class="sticky top-[66px] flex">
  <div class="h-[calc(100dvh-66px)] w-1/4">
    <app-map-chart></app-map-chart>
  </div>
  <div class="h-[calc(100dvh-66px)] w-3/4 overflow-y-auto px-12">
    <h3 class="pb-3 pt-8 text-h3">全台縣市總統得票率</h3>
    <section class="rounded-2xl bg-gray-200 p-4 pt-6">
      <h5 class="text-h5">總統得票數</h5>
      <div class="flex gap-4">
        <div
          class="flex w-1/2 flex-col justify-center gap-3 rounded-xl bg-white px-6 py-4"
        >
          <ul class="flex justify-between">
            <li
              class="flex gap-3"
              *ngFor="let cand of top3CandidateInfo | async; let i = index"
            >
              <img
                class="h-12 w-12 rounded-2xl"
                [ngClass]="cand.color"
                [src]="cand.img"
              />
              <div>
                <div class="text-small text-font-secondary">
                  {{ cand.politicalPartyName }}
                </div>
                <div class="flex items-center text-body-1">
                  <span>{{ cand.name }}</span>
                  <img
                    *ngIf="cand.electedMark === '*'"
                    class="h-5 w-5 pl-1"
                    src="assets/icons/check_circle.svg"
                    alt="當選標記"
                  />
                </div>
                <div>
                  <span class="text-h6">{{
                    cand.voteCount | currency: "TWD" : "" : "1.0-0"
                  }}</span>
                  <span class="pl-1 text-body-2">票</span>
                </div>
              </div>
            </li>
          </ul>
          <app-stack-chart
            [data]="stackChartData | async"
            [displayText]="true"
          ></app-stack-chart>
        </div>
        <div
          class="flex w-1/2 justify-between gap-10 rounded-xl bg-white px-6 py-4"
        >
          <app-donut-chart
            [width]="124"
            [data]="donutChartData | async"
          ></app-donut-chart>
          <div class="grid grow grid-cols-2 grid-rows-2 gap-x-12 gap-y-4">
            <div class="flex flex-col gap-1">
              <span class="text-body-2 text-font-secondary">投票數</span>
              <span class="text-h6">{{
                (voteMapService.voteInfo | async)?.totalVotes
                  | currency: "TWD" : "" : "1.0-0"
              }}</span>
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-body-2 text-font-secondary">投票率</span>
              <span class="text-h6"
                >{{
                  (voteMapService.voteInfo | async)?.voterTurnout
                    | currency: "TWD" : "" : "1.2-2"
                }}%</span
              >
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-body-2 text-font-secondary">有效票數</span>
              <span class="text-h6">{{
                (voteMapService.voteInfo | async)?.validVotes
                  | currency: "TWD" : "" : "1.0-0"
              }}</span>
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-body-2 text-font-secondary">無效票數</span>
              <span class="text-h6">{{
                (voteMapService.voteInfo | async)?.invalidVotes
                  | currency: "TWD" : "" : "1.0-0"
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="flex gap-6 pt-6">
      <div class="h-fit w-1/2 rounded-xl border-[1px] border-line">
        <div class="flex justify-between px-4 py-3">
          <h5 class="text-h5">歷屆政黨得票數</h5>
          <div class="flex items-center gap-1">
            <span class="inline-block h-2 w-2 rounded-full bg-role-1"></span>
            <span class="text-small">蝙蝠黨</span>
          </div>
        </div>
        <app-bar-chart
          [width]="600"
          [height]="200"
          [data]="historyPartyVoteCount | async"
        ></app-bar-chart>
      </div>
      <div class="h-fit w-1/2 rounded-xl border-[1px] border-line">
        <div class="flex justify-between px-4 py-3">
          <h5 class="text-h5">歷屆政黨得票率</h5>
          <div class="flex items-center gap-1">
            <span class="inline-block h-2 w-2 rounded-full bg-role-1"></span>
            <span class="text-small">蝙蝠黨</span>
          </div>
        </div>
        <app-line-chart
          [width]="600"
          [height]="200"
          [data]="historyPartyVotePercentage | async"
        ></app-line-chart>
      </div>
    </section>
    <section class="pt-6">
      <h5 class="text-h5">各縣市投票總覽</h5>
      <table>
        <thead class="bg-bg p-2">
          <tr>
            <th class="w-2/12 p-2 pr-6 text-left text-body-2">縣市</th>
            <th class="w-3/12 p-2 pr-6 text-left text-body-2">得票率</th>
            <th class="w-2/12 p-2 pr-6 text-left text-body-2">當選人</th>
            <th class="w-2/12 p-2 pr-6 text-left text-body-2">投票數</th>
            <th class="w-2/12 p-2 pr-6 text-left text-body-2">投票率</th>
            <th class="w-1/12 p-2 text-left text-body-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let areaVoteInfoVM of areaVoteInfoVM | async">
            <td class="p-2 pr-6 text-left text-h6">
              {{ areaVoteInfoVM.areaName }}
            </td>
            <td class="p-2 pr-6 text-left text-body-2">
              <app-stack-chart
                [data]="areaVoteInfoVM.partyVoteInfos"
              ></app-stack-chart>
            </td>
            <td class="p-2 pr-6 text-left text-body-2">
              {{ areaVoteInfoVM.electedName }}
            </td>
            <td class="p-2 pr-6 text-left text-body-2">
              {{ areaVoteInfoVM.totalVotes | currency: "TWD" : "" : "1.0-0" }}
            </td>
            <td class="p-2 pr-6 text-left text-body-2">
              {{
                areaVoteInfoVM.voterTurnout | currency: "TWD" : "" : "1.2-2"
              }}%
            </td>
            <td>
              <span class="flex h-auto w-full items-center justify-center">
                <img src="assets/icons/navigate_next.svg" alt="下一頁" />
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <app-footer></app-footer>
  </div>
</div>
