<div class="sticky top-[66px] flex flex-col md:flex-row">
  <div
    class="relative h-[190px] w-full overflow-hidden bg-map md:h-[calc(100dvh-66px)] md:w-[600px] md:overflow-auto"
  >
    <div class="absolute z-10 h-full w-full bg-[#49505799] md:hidden"></div>
    <app-map-chart
      [countryData]="mapChartCountryData | async"
      [areaData]="mapChartAreaData | async"
      (changeCity)="changeCity($event)"
      [year]="voteMapService.currentYear"
    ></app-map-chart>
  </div>
  <div #info class="grow overflow-y-auto md:h-[calc(100dvh-66px)]">
    <div class="px-4 pb-10 md:px-12">
      <h3 class="flex items-center gap-[10px] pb-3 pt-8 text-h3">
        <img
          *ngIf="breadCrumb.length > 1"
          src="assets/icons/arrow_back.svg"
          alt="上一步"
          class="cursor-pointer rounded-full bg-bg p-2"
          (click)="changeCity(breadCrumb[breadCrumb.length - 2])"
        />
        <span>{{ title }}</span>
      </h3>
      <ul *ngIf="breadCrumb.length > 1" class="flex py-2">
        <li
          *ngFor="
            let areaName of breadCrumb;
            let last = last;
            let first = first
          "
          (click)="changeCity(areaName)"
          class="cursor-pointer text-body-1 text-font-secondary"
        >
          {{ first ? "" : "／" }}
          <span
            [ngClass]="{ 'text-font-secondary': !last, 'text-primary': last }"
            >{{ areaName }}</span
          >
        </li>
      </ul>
      <section class="rounded-2xl bg-gray-200 p-4 pt-6">
        <h5 class="text-h5">總統得票數</h5>
        <div class="flex flex-col gap-4 xl:flex-row">
          <div
            class="flex w-full flex-col justify-center gap-3 rounded-xl bg-white px-6 py-4 xl:w-1/2"
          >
            <ul class="flex flex-col xl:flex-row xl:justify-between">
              <li
                class="flex gap-3"
                *ngFor="let cand of top3CandidateInfo | async; let i = index"
              >
                <img
                  class="h-12 w-12 rounded-2xl"
                  [ngClass]="cand.color"
                  [src]="cand.img"
                />
                <div>
                  <div class="text-small text-font-secondary">
                    {{ cand.politicalPartyName }}
                  </div>
                  <div class="flex items-center text-body-1">
                    <span>{{ cand.name }}</span>
                    <img
                      *ngIf="cand.electedMark === '*'"
                      class="h-5 w-5 pl-1"
                      src="assets/icons/check_circle.svg"
                      alt="當選標記"
                    />
                  </div>
                  <div>
                    <span class="text-h6">{{
                      cand.voteCount | currency: "TWD" : "" : "1.0-0"
                    }}</span>
                    <span class="pl-1 text-body-2">票</span>
                  </div>
                </div>
              </li>
            </ul>
            <app-stack-chart
              [data]="stackChartData | async"
              [displayText]="true"
              [themes]="themes | async"
            ></app-stack-chart>
          </div>
          <div
            class="flex w-full items-center justify-between gap-10 rounded-xl bg-white px-6 py-4 xl:w-1/2"
          >
            <app-donut-chart
              [width]="124"
              [data]="donutChartData | async"
            ></app-donut-chart>
            <div class="grid grow grid-cols-1 gap-x-12 gap-y-4 lg:grid-cols-2">
              <div class="flex flex-col gap-1">
                <span class="text-body-2 text-font-secondary">投票數</span>
                <span class="text-h6">{{
                  (voteMapService.voteInfo | async)?.totalVotes
                    | currency: "TWD" : "" : "1.0-0"
                }}</span>
              </div>
              <div class="flex flex-col gap-1">
                <span class="text-body-2 text-font-secondary">投票率</span>
                <span class="text-h6"
                  >{{
                    (voteMapService.voteInfo | async)?.voterTurnout
                      | currency: "TWD" : "" : "1.2-2"
                  }}%</span
                >
              </div>
              <div class="flex flex-col gap-1">
                <span class="text-body-2 text-font-secondary">有效票數</span>
                <span class="text-h6">{{
                  (voteMapService.voteInfo | async)?.validVotes
                    | currency: "TWD" : "" : "1.0-0"
                }}</span>
              </div>
              <div class="flex flex-col gap-1">
                <span class="text-body-2 text-font-secondary">無效票數</span>
                <span class="text-h6">{{
                  (voteMapService.voteInfo | async)?.invalidVotes
                    | currency: "TWD" : "" : "1.0-0"
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="flex flex-col gap-6 pt-6 xl:flex-row">
        <div class="h-fit w-full rounded-xl border-[1px] border-line xl:w-1/2">
          <div class="flex justify-between px-4 py-3">
            <h5 class="text-h5">歷屆政黨得票數</h5>
            <div class="flex items-center gap-1">
              <div *ngFor="let cand of top3CandidateInfo | async">
                <span
                  class="mr-1 inline-block h-2 w-2 rounded-full bg-role-1"
                  [ngClass]="cand.color"
                ></span>
                <span class="text-small">{{ cand.politicalPartyName }}</span>
              </div>
            </div>
          </div>
          <app-bar-chart
            class="h-[200px] w-[600px]"
            [data]="historyPartyVoteCount | async"
            [themes]="themes | async"
          ></app-bar-chart>
        </div>
        <div class="h-fit w-full rounded-xl border-[1px] border-line xl:w-1/2">
          <div class="flex justify-between px-4 py-3">
            <h5 class="text-h5">歷屆政黨得票率</h5>
            <div class="flex items-center gap-1">
              <div *ngFor="let cand of top3CandidateInfo | async">
                <span
                  class="mr-1 inline-block h-2 w-2 rounded-full bg-role-1"
                  [ngClass]="cand.color"
                ></span>
                <span class="text-small">{{ cand.politicalPartyName }}</span>
              </div>
            </div>
          </div>
          <app-line-chart
            class="h-[200px] md:w-[600px]"
            [data]="historyPartyVotePercentage | async"
            [themes]="themes | async"
          ></app-line-chart>
        </div>
      </section>
      <section class="pt-6">
        <h5 class="text-h5">各縣市投票總覽</h5>
        <table>
          <thead class="bg-bg p-2">
            <tr>
              <th
                class="hidden w-2/12 p-2 pr-6 text-left text-body-2 xl:table-cell"
              >
                地區
              </th>
              <th colspan="4" class="p-2 pr-6 text-left text-body-2 xl:hidden">
                地區
              </th>
              <th
                class="hidden w-3/12 p-2 pr-6 text-left text-body-2 xl:table-cell"
              >
                得票率
              </th>
              <th
                class="hidden w-2/12 p-2 pr-6 text-left text-body-2 xl:table-cell"
              >
                當選人
              </th>
              <th
                class="hidden w-2/12 p-2 pr-6 text-left text-body-2 xl:table-cell"
              >
                投票數
              </th>
              <th
                class="hidden w-2/12 p-2 pr-6 text-left text-body-2 xl:table-cell"
              >
                投票率
              </th>
              <th
                class="hidden w-1/12 p-2 text-left text-body-2 xl:table-cell"
              ></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let areaVoteInfoVM of areaVoteInfoVM | async"
              class="cursor-pointer hover:bg-[#F8F9FA]"
              [ngClass]="{ 'cursor-pointer': !isVillage }"
              (click)="clickAreaInfo(areaVoteInfoVM.areaName)"
            >
              <td class="w-2/12 whitespace-nowrap p-2 pr-6 text-left text-h6">
                {{ areaVoteInfoVM.areaName }}
              </td>
              <td class="p-2 pr-6 text-left text-body-2">
                <div class="flex items-center gap-2 xl:hidden">
                  <span class="text-body-2 text-font-secondary">當選人</span>
                  <img
                    class="h-8 w-8 rounded-full"
                    [ngClass]="areaVoteInfoVM.color"
                    [src]="areaVoteInfoVM.img"
                  />
                  <span>
                    {{ areaVoteInfoVM.electedName }}
                  </span>
                </div>
                <app-stack-chart
                  [data]="areaVoteInfoVM.partyVoteInfos"
                  [themes]="themes | async"
                ></app-stack-chart>
              </td>
              <td class="hidden p-2 pr-6 text-left text-body-2 xl:table-cell">
                <div class="flex items-center gap-2">
                  <img
                    class="h-8 w-8 rounded-full"
                    [ngClass]="areaVoteInfoVM.color"
                    [src]="areaVoteInfoVM.img"
                  />
                  <span>
                    {{ areaVoteInfoVM.electedName }}
                  </span>
                </div>
              </td>
              <td class="hidden p-2 pr-6 text-left text-body-2 xl:table-cell">
                {{ areaVoteInfoVM.totalVotes | currency: "TWD" : "" : "1.0-0" }}
              </td>
              <td class="hidden p-2 pr-6 text-left text-body-2 xl:table-cell">
                {{
                  areaVoteInfoVM.voterTurnout | currency: "TWD" : "" : "1.2-2"
                }}%
              </td>
              <td class="w-1/12">
                <span
                  *ngIf="!isVillage"
                  class="flex h-auto w-full items-center justify-center"
                >
                  <img src="assets/icons/navigate_next.svg" alt="下一頁" />
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>

    <app-footer></app-footer>
    <button class="fixed bottom-2 right-2 hidden md:block">
      <img
        (click)="info.scrollTo({ top: 0, behavior: 'smooth' })"
        src="assets/icons/scroll_top.svg"
        alt="回到頂部"
      />
    </button>
    <button class="fixed bottom-2 right-2 md:hidden">
      <img
        (click)="windowScrollToTop()"
        src="assets/icons/scroll_top.svg"
        alt="回到頂部"
      />
    </button>
  </div>
</div>
