<section>
  <div class="m-auto max-w-[930px] px-4">
    <div class="flex flex-col items-center pt-24">
      <img class="w-[137px]" src="assets/logo.png" alt="台灣歷年總統" />
      <img
        class="h-[46px] max-w-[284px] object-contain pt-2 md:h-[85px] md:max-w-[525px]"
        src="assets/logo-text.png"
        alt="台灣歷年總統"
      />
    </div>
    <div>
      <div class="py-6 text-center text-h4-xs text-primary md:text-h4">
        選擇查詢年份
      </div>
      <ul
        class="grid grid-cols-[repeat(2,163px)] justify-center gap-4 md:grid-cols-[repeat(3,173px)] xl:grid-cols-[repeat(5,173px)]"
      >
        <li>
          <a
            class="inline-block w-full rounded-full bg-bg p-3 text-center"
            routerLink="/vote-map"
            [queryParams]="{ year: '1996' }"
            >1996</a
          >
        </li>
        <li>
          <a
            class="inline-block w-full rounded-full bg-bg p-3 text-center"
            routerLink="/vote-map"
            [queryParams]="{ year: '2000' }"
            >2000</a
          >
        </li>
        <li>
          <a
            class="inline-block w-full rounded-full bg-bg p-3 text-center"
            routerLink="/vote-map"
            [queryParams]="{ year: '2004' }"
            >2004</a
          >
        </li>
        <li>
          <a
            class="inline-block w-full rounded-full bg-bg p-3 text-center"
            routerLink="/vote-map"
            [queryParams]="{ year: '2008' }"
            >2008</a
          >
        </li>
        <li>
          <a
            class="inline-block w-full rounded-full bg-bg p-3 text-center"
            routerLink="/vote-map"
            [queryParams]="{ year: '2012' }"
            >2012</a
          >
        </li>
        <li>
          <a
            class="inline-block w-full rounded-full bg-bg p-3 text-center"
            routerLink="/vote-map"
            [queryParams]="{ year: '2016' }"
            >2016</a
          >
        </li>
        <li>
          <a
            class="inline-block w-full rounded-full bg-bg p-3 text-center"
            routerLink="/vote-map"
            [queryParams]="{ year: '2020' }"
            >2020</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="absolute bottom-0 flex w-full justify-between">
    <img
      class="hidden w-1/4 max-w-[280px] md:block md:w-1/6"
      src="assets/images/candidate-1.png"
    />
    <img
      class="hidden w-1/4 max-w-[280px] md:block md:w-1/6"
      src="assets/images/candidate-2.png"
    />
    <img
      class="w-1/4 max-w-[280px] md:w-1/6"
      src="assets/images/candidate-3.png"
    />
    <img
      class="w-1/4 max-w-[280px] md:w-1/6"
      src="assets/images/candidate-4.png"
    />
    <img
      class="w-1/4 max-w-[280px] md:w-1/6"
      src="assets/images/candidate-5.png"
    />
    <img
      class="w-1/4 max-w-[280px] md:w-1/6"
      src="assets/images/candidate-6.png"
    />
  </div>
</section>
